  # Compose v2 ignores the version key; safe to omit
  # version: "3.9"

  services:

    db:
      image: postgres:16
      container_name: postgres_db
      restart: always
      environment:
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: Vishalashvafalin
        POSTGRES_DB: scopio
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB || exit 1"]
        interval: 10s
        timeout: 5s
        retries: 5

    pgadmin:
      image: dpage/pgadmin4
      container_name: pgadmin4
      restart: always
      environment:
        PGADMIN_DEFAULT_EMAIL: scopioedutech@gmail.com
        PGADMIN_DEFAULT_PASSWORD: Vishalashvafalin
      ports:
        - "5050:80"
      depends_on:
        db:
          condition: service_healthy
      volumes:
        - pgadmin_data:/var/lib/pgadmin
        - ./pgadmin/servers.json:/pgadmin4/servers.json

  volumes:
    postgres_data:
    pgadmin_data:


