[Unit]
Description=Gunicorn daemon for Scopio Django
After=network.target

[Service]
User=azureuser
Group=azureuser
WorkingDirectory=/home/azureuser/Scopio-WebApp/Backend
EnvironmentFile=/home/azureuser/Scopio-WebApp/Backend/.env.production
ExecStart=/home/azureuser/Scopio-WebApp/benv/bin/gunicorn main.wsgi:application --bind 127.0.0.1:8000 --workers 3 --threads 4 --timeout 60
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
